<?xml version="1.0" encoding="UTF-8"?>
<suppressions
    xmlns="https://jeremylong.github.io/DependencyCheck/dependency-suppression.1.3.xsd">
    <suppress until="2023-12-31Z">
        <notes><![CDATA[
            thymeleaf-spring6 is not Spring Boot Admin where the vulnerability actually is.
            https://github.com/p1n93r/SpringBootAdmin-thymeleaf-SSTI
            
            My projects don't use Spring Boot Admin.
            
            Revist once some time has past and a patch has been released.
        ]]></notes>
        <packageUrl regex="true">^pkg:maven/org\.thymeleaf/thymeleaf\-spring6@.*$
        </packageUrl>
        <vulnerabilityName>CVE-2023-38286</vulnerabilityName>
    </suppress>
</suppressions>
